.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-form {
  padding: 0px 10px 0px 10px;
  display: flex;
  flex-direction: column;
}

.task-label {
  margin: 10px 0px;
}

.task-text {
  border: 1px solid black;
  padding: 10px;
  border-radius: 8px;
}

.task-create {
  margin-top: 30px;
  width: 450px;
  border: 5px solid black;
  border-radius: 15px;
}

.task-update {
  width: 100%;
}

h3 {
  text-align: center;
  font-size: 25px;
}

.task-button {
  padding: 10px;
  margin: 10px 0px;
  border: 1px solid green;
  background-color: green;
  font-size: 20px;
  color: white;
  border-radius: 8px;
}
.update-button {
  background-color: purple;
}

.task-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.task-show {
  border: 3px solid black;
  border-radius: 20px;
  width: 350px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 20px;
}

.task-title {
  margin-bottom: 5px;
}

.task-delete {
  padding: 5px;
  color: white;
  background-color: red;
  border: none;
  font-size: 15px;
  margin-right: 10px;
  width: 60px;
  border-radius: 20px;
}

.task-edit {
  padding: 5px;
  color: white;
  background-color: blue;
  border: none;
  font-size: 15px;
  margin-right: 10px;
  width: 100px;
  border-radius: 20px;
}
